<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,height=device-height"/>
    <meta name="description" content="carrot">
    <meta name="author" content="carrot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Chat rooms on Reddit">
    <title>Carrot - chat rooms on reddit</title>

    <link rel="apple-touch-icon" sizes="57x57" href="https://carrot.com/static/img/favicons-original/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="https://carrot.com/static/img/favicons-original/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="https://carrot.com/static/img/favicons-original/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="https://carrot.com/static/img/favicons-original/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="https://carrot.com/static/img/favicons-original/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="https://carrot.com/static/img/favicons-original/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="https://carrot.com/static/img/favicons-original/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="https://carrot.com/static/img/favicons-original/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="https://carrot.com/static/img/favicons-original/apple-touch-icon-180x180.png"/>

    <link rel="icon" type="image/png" href="https://carrot.com/static/img/favicons-original/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="https://carrot.com/static/img/favicons-original/android-chrome-192x192.png" sizes="192x192"/>
    <link rel="icon" type="image/png" href="https://carrot.com/static/img/favicons-original/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="https://carrot.com/static/img/favicons-original/favicon-16x16.png" sizes="16x16"/>
    <link rel="shortcut icon" href="https://carrot.com/static/img/favicons-original/favicon.ico" />

    <meta property="og:title" content="Carrot - Chat rooms on Reddit" />
    <meta property="og:description" content="Download Carrot for iPhone and join the world's dankest chat network." />
    <meta property="og:site_name" content="carrot.com" />
    <meta property="og:image" content="https://carrot.com/static/img/og-carrot.png" />

  	<%= stylesheet_link_tag    'application', media: 'all' %>
  	<%= javascript_include_tag 'application' %>
  	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
